@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CreditDemo</h1>
    <p class="lead">Welcome to CreditDemo</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Find out more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Unit Testing</h2>
        <p>
            Tests isolated components of a software product. 
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>System Testing</h2>
        <p>Tests different components of a product together. (can be all or most of them or only a few)</p>
    </div>
    <div class="col-md-4">
        <h2>UI Testing</h2>
        <p>Simulates the actual user experience for the purpose of acceptance testing. </p>
    </div>
</div>